.container{
    margin-top:-1%;
    height: 670px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #f1f1f5;
}

.information{
    margin-top: 5%;
    position: absolute;
    width: 80%;
    height: 552px;
    display: flex;
    justify-content: center;
    background: #E6E6FC;
    border-radius: 16px;
    align-items: center;
    /* background-image: url('./../../images/Coints.png');
    background-repeat: no-repeat;
    background-size: 450px;
    background-position-x: right 180px;
    background-position-y: top -120px; */
}

.information_in{
    height: 500px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.title h2{
    margin-left: 5%;
    width: 40%;
    height: 96px;
    left: 40px;
    top: 20px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #3F3E42;
}

.title{
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.title img{
    margin-top: -9%;
    width: 35%;
    margin-right: 8%
}

.logo{
    margin-top: -3%;
    display: flex;
    justify-content: start;
    align-items: flex-end;
    width: 100%;
}

.logo_in{
    width: 100%;
    height: 400px;
    margin-left: -3%;
}


@media(max-width:990px){
    .container{
        height: 300px;
    }
    .information{
        height: 250px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }

    .information_in{
        height: 200px;
        width: 90%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }

    .logo{
        display: none;
    }

    .title{
        height: 500px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    .title img{
        width: 35%;
    }

    .title h2{
        width: 40%;
        font-family: 'IBM Plex Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 32px;
        color: #3F3E42;
    }
}


@media(max-width:950px){
    .container{
        height: 450px;
    }
    .information{
        height: 400px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }

    .information_in{
        height: 400px;
        width: 90%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }

    .title{
        height: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .title img{
        width: 40%;
    }

    .title h2{
        text-align: center;
        width: 90%;
        font-family: 'IBM Plex Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 32px;
        color: #3F3E42;
    }
}

@media(max-width:800px){
    .title{
        width: 95%;
    }
    .title img{
        width: 50%;
    }
    .title h2{
        font-size: 15px
    }
}

@media(max-width:570px){
    .title img{
        width:70%
    }
}


/* ============== */

@media(max-width:1160px){
    .title h2{
        font-size: 20px;
    }
}

@media(max-width:920px){
    .title h2{
        font-size: 16px;
    }
}
