.container{
    padding-top: 2%;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #f1f1f5;
}

.location{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.location_in{
    width: 47%;
    height: 552px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #FFF2CB;
    border-radius: 16px;    
}

.location_in h2{
    width: 70%;
    height:170px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #3F3E42;
}

.credit{
    width: 47%;
    height: 552px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #E6E6FC;
    border-radius: 16px;   
}

.credit h2{
    width: 70%;
    height: 96px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #3F3E42;
}
