.container{
    padding-top: 2%;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #f1f1f5;
}

.infoTime{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.time{
    width: 47%;
    height: 552px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #E6E6FC;
    border-radius: 16px;    
}

.time h2{
    width: 70%;
    height: 96px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #3F3E42;
}

.days{
    width: 47%;
    height: 552px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FFE3D8;
    border-radius: 16px;   
}

.days h2{
    width: 70%;
    height: 96px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #3F3E42;
}

@media(max-width:1590px){
    .time{
        justify-content: space-around;
    }
    .time img{
        width: 50%;
    }
    .days{
        justify-content: space-around;
    }
    .days img{
        width: 50%;
    }
}

@media(max-width:1160px){
    .time h2{
        font-size: 20px;
    }
    .time{
        height: 500px;  
    }
    .days h2{
        font-size: 20px;
    }
    .days{
        height: 500px;
    }
}

@media(max-width:920px){
    .time h2{
        font-size: 16px;
    }
    .time{
        height: 400px;  
    }
    .days h2{
        font-size: 16px;
    }
    .days{
        height: 400px;
    }
}

@media(max-width:800px){
    .time h2{
        font-size: 15px;
    }
    .time{
        height: 350px;  
    }
    .time img{
        width: 40%;
    }
    .days h2{
        font-size: 15px;
    }
    .days img{
        width: 40%;
    }
    .days{
        height: 350px;
    }
}

@media(max-width:750px){
    .infoTime{
        height: 780px;
        width: 80%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }
    .time{
        width: 95%;
    }
    .time img{
        width: 30%;
    }
    .days{
        width: 95%;
    }
    .days img{
        width: 30%;
    }
}