.container{
    padding-top: 2%;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #f1f1f5;
}

.terms{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.puzzle{
    width: 47%;
    height: 552px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FFE3D8;
    border-radius: 16px;    
}

.puzzle h2{
    width: 70%;
    height: 96px;
    left: 40px;
    top: 40px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #3F3E42;
}

.puzzle img{
    margin-top: 7%;
}

.cloud{
    width: 47%;
    height: 552px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #DDEFE8;
    border-radius: 16px;
}

.cloud h2{
    width: 70%;
    height: 96px;
    left: 40px;
    top: 40px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #3F3E42;
}

.cloud img{
    margin-top: 7%;
}

@media(max-width:1590px){
    .puzzle{
        justify-content: space-around;
    }
    .puzzle img{
        width: 50%;
    }
    .cloud{
        justify-content: space-around;
    }
    .cloud img{
        width: 50%;
    }
}

@media(max-width:1160px){
    .puzzle h2{
        font-size: 20px;
    }
    .puzzle{
        height: 500px;  
    }
    .cloud h2{
        font-size: 20px;
    }
    .cloud{
        height: 500px;
    }
}

@media(max-width:920px){
    .puzzle h2{
        font-size: 16px;
    }
    .puzzle{
        height: 400px;  
    }
    .cloud h2{
        font-size: 16px;
    }
    .cloud{
        height: 400px;
    }
}

@media(max-width:800px){
    .puzzle h2{
        font-size: 15px;
    }
    .puzzle{
        height: 350px;  
    }
    .puzzle img{
        width: 40%;
    }
    .cloud h2{
        font-size: 15px;
    }
    .cloud img{
        width: 40%;
    }
    .cloud{
        height: 350px;
    }
}

@media(max-width:750px){
    .terms{
        height: 780px;
        width: 80%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }
    .puzzle{
        width: 95%;
    }
    .puzzle img{
        width: 30%;
    }
    .cloud{
        width: 95%;
    }
    .cloud img{
        width: 30%;
    }
}