.container{
    margin-top: 5%;
    width: 100%;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
}

.footer{
    width: 80%;
    border-bottom: 1px solid #E5E5F4;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.logo{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.logo_in{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo_in h1{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    width: 300px;
    color: #57B18A;
}

.logo_color{
    margin-right: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.yellow{
    width: 30px;
    height: 30px;
    background-color: #FFDF7D;
    border-radius: 50%;
}

.green{
    margin-top: -30%;
    width: 2.7em;
    height: 1.3em;
    border: 2px solid #57B18A;
    border-radius: 0 0 50% 50% / 0 0 100% 100%;
    background: #57B18A;
}

.logo h2{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #3F3E42;
}

.logo button{
    background-color: white;
    width: 222px;
    height: 48px;
    border: none;
    background: #FFFFFF;
    box-shadow: 0px 0px 2px #A6A6DA;
    border-radius: 8px;font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #57B18A;
}

.about_company{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.about_company h2{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #3F3E42;    
}

.loan{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.loan h2{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #3F3E42;    
}

.contact{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.contact h2{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #3F3E42;    
}


@media(max-width:670px){
    .footer{
        height: 1000px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
    }
    .logo button{
        background-color: white;
        width: 180px;
        height: 40px;
        border: none;
        background: #FFFFFF;
        box-shadow: 0px 0px 2px #A6A6DA;
        border-radius: 8px;font-family: 'IBM Plex Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 28px;
        text-align: center;
        color: #57B18A;
    }
}

@media(max-width:450px){
    .footer h2{
        font-size: 16px;
    }
    .footer{
        height: 950px;
    }
}

@media(max-width:400px){
    .logo_in h1{
        display: none;
    }
    .logo h2{
        width: 100%;
    }
    .logo button{
        background-color: white;
        width: 160px;
        height: 35px;
        border: none;
        background: #FFFFFF;
        box-shadow: 0px 0px 2px #A6A6DA;
        border-radius: 8px;font-family: 'IBM Plex Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 28px;
        text-align: center;
        color: #57B18A;
    }
}