.container{
    width: 100%;
    height: 276px;
    background: #EEF7F3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.callCenter{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-image: url('./../../images/call.svg');
    background-size: 200px;
    background-repeat: no-repeat;
    background-position-x: right 100px;
    background-position-y: center;
}

.callCenter h1{
    width: 40%;
    height: 52px;
    font-family: 'IBM Plex Serif';
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 52px;
    color: #3F3E42;
}

.callCenter h2{
    width: 30%;
    height: 56px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #57585F;    
}

@media(max-width:1620px){
    .callCenter h1{
        width: 60%;
    }

    .callCenter h2{
        width: 50%;
    }
}

@media(max-width:1110px){
    .callCenter{
        background-size: 150px;
        background-position-x: right 30px;
    }

    .callCenter h1{
        font-size: 35px;
    }

    .callCenter h2{
        font-size: 16px;
    }
}

@media(max-width:860px){
    .callCenter h1{
        font-size: 30px;
    }

    .callCenter h2{
        font-size: 14px;
    }
}

@media(max-width:745px){
    .callCenter{
        background-size: 100px;
        background-position-x: right 10px;
    }

    .callCenter h1{
        width: 80%
    }

    .callCenter h2{
        width: 65%;
    }
}

@media(max-width:580px){
    .container{
        height: 200px;
    }
    .callCenter{
        background-image: none;
    }
    .callCenter h1{
        width: 100%;
        font-size: 25px;
    }
    .callCenter h2{
        width: 90%;
    }
}

@media(max-width:370px){
    .callCenter h1{
        width: 100%;
        font-size: 20px;
    }
    .callCenter h2{
        width: 90%;
        font-size: 12px;
    }
}